/****************************/
/****** the framework ******/
/****************************/
.sectionWrap {
    display: flex;
}
.sectionLeft {
    width: 70%;
    height: 100vh;

    overflow: hidden;

    position: relative;
}
.sectionRight {
    width: 30%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}
/****************************/
/****** the components ******/
/****************************/
/* sectionLeft */
.videoBox {
    width: 40%;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 800;
}
.videoBox video {
    width: 100%;
    user-select: none;
}
.imgBox {
    width: 1350px;
    height: 100%;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}
/* sectionRight */
.rightContentWrap {
    width: calc(100% - 2.5vw *2);

    padding: 2.5vw;
    box-sizing: border-box;
}
.rightContentWrapTop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.rightContentWrapBot {
    display: flex;
    justify-content: space-between;
}
/****************************/
/****** the details ******/
/****************************/
/* imgBoxGen */
.imgBox > img {
    transition: opacity 1s ease-in-out;
    user-select: none;
    -webkit-user-drag: none;
}
.imgEight {
    width: 110%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46.5%);
    z-index: 700;
    opacity: 1;
}
.imgOne {
    width: 116%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50.3%, -49.7%);
    opacity: 1;
}
.imgThree {
    width: 102%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49.8%, -49%);
    opacity: 1;
}
.imgFive {
    width: 132%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49.4%, -45%);
    opacity: 1;
}
.imgSeven {
    width: 160%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50.4%, -50.3%);
    opacity: 1;
}
.imgNine {
    width: 140%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45.55%);
    opacity: 1;
}
.imgEleven {
    width: 165%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48.45%, -53.6%);
    opacity: 1;
}
/* rightContentWrapTop */
.rightContentWrapTop > input {
    width: 100%;
    height: 40px;

    background-color: rgba(255, 255, 255, 0.1);
    color: #b2a69b;

    padding: 10px;
    border: 1px solid;
    border-radius: 7px;
    box-sizing: border-box;

    outline: none;
}
.rightContentWrapTop > input:-webkit-autofill,
.rightContentWrapTop > input:-webkit-autofill:hover,
.rightContentWrapTop > input:-webkit-autofill:focus,
.rightContentWrapTop > input:-webkit-autofill:active {
    -webkit-box-shadow: none !important;
    -webkit-text-fill-color: #b2a69b !important;
    border: 1px solid #b2a69b !important;
    transition: background-color 999999999s ease-in-out 0s;
}
.rightContentWrapTop > input::placeholder {
    color: #b2a69b;
    font-family: 'Pretendard-Regular', sans-serif;
    font-size: 1rem;
}
/* remember id */
.rmbrIdLbl {
    font-size: 0.875rem;

    display: flex;
    align-items: center;
    gap: 10px;
}
#rmbrId {
    display: none;
}
.chkBx {
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #b2a69b;

    border: 1px solid;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.rmbrIdLbl:hover .chkBx {
    background-color: rgba(255, 255, 255, 0.3);
}
.rmbrIdLbl:hover {
    opacity: 1;
    cursor: pointer;
}
.chkMk {
    font-size: 0.875rem;
    transform: rotateY(180deg) rotateZ(-45deg);
    user-select: none;
    display: none;
}
#rmbrId:checked ~ .chkBx {
    background-color: #b2a69b;
}
#rmbrId:checked ~ .chkBx .chkMk {
    color: #32271e;
    display: block;
}
/* log in button */
.rightContentWrapTop button {
    width: 100%;
    height: 40px;
    font-family: "Noto Serif KR", serif;
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;

    margin: 10px 0 5px;
    padding: 0;
    border: 1px solid;
    border-radius: 7px;
    box-sizing: border-box;

    line-height: 40px;
    text-align: center;
}
.rightContentWrapTop button:hover {
    background-color: #b2a69b;
    color: #32271e;
    cursor: pointer;
}
/* rightContentWrapBot */
.rightContentWrapBot button {
    background-color: transparent;
    color: #b2a69b;
    font-family: 'Pretendard-Regular', sans-serif;
    font-size: 0.875rem;
    white-space: nowrap;
    opacity: 0.6;

    border: none;
}
.rightContentWrapBot button:hover {
    opacity: 1;
    cursor: pointer;
}