.backgroundPan {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 1;
}
.pageContainer {
    position: relative;
    height: 100vh;
    width: 100%;
}
.forYouSwiper {
    width: 100%;
    height: 100%;
}

.forYouSlide {
    position: relative;
    height: 100%;
    width: 100%;
}

.forYouSlide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movieContainer {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.backgroundMovie {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottomContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.movieContent {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
    transition: bottom 0.5s ease;
}
.line1 {
    background-color: #fff;
    height: 1px;
    width: 150px;
    box-shadow: 1px 2px 5px black;
}
.line2 {
    background-color: #fff;
    height: 1px;
    width: 100%;
    box-shadow: 1px 2px 5px black;
}
.genreTitle {
    font-family: "Noto Serif KR", serif, "Times New Roman", Times, serif;
    margin: 0 20px;
    cursor: pointer;
    color: #fff;
}
.forYouSwiper :global(.swiper-pagination) {
    display: none;
}

/*하단 top5 무비포스터*/
.topMovies {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 11;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    margin-bottom: 65px;
}
.postersContainer {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    z-index: 1002;
    gap: 15px;
}
.posterItem {
    flex: 0 0 auto;
    text-align: center;
}
.posterImage {
    max-width: 160px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s;
    cursor: pointer;
}
.posterImage:hover {
    transform: scale(1.05);
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*영화 전체보기 속성*/
.allMovieShowBtn {
    border: 1px solid;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    bottom: -30px;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.875rem;
}
.allMovieShowBtn:hover {
    background-color: rgba(178,166,155, 0.4);
    color: #fff;
}