.sidebar {
  position: fixed;
  top: 60px;
  right: -250px; 
  width: 250px;
  height: calc(100vh - 60px);
  background-color: #32271e;
  /*box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);*/
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  padding: 25px;
}

.sidebar.open {
  transform: translateX(-250px); 
}

.nav ul {
  list-style: none;
  padding: 20px;
  margin: 0;
}

.nav li {
  margin-bottom: 15px;
  color: #fff;
  font-family: "Noto Serif KR", serif, "Times New Roman", Times, serif;
  cursor: pointer;
}

.nav li:nth-child(2){
  margin-bottom: 30px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.toggleButton {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001;
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.logout{
  width: 70px;
  height: 30px;
  border-radius: 10PX;
  border: 1px solid;
  font-size: 17px;
  text-align: center;
  font-weight: 900;

  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  box-shadow: none;

  position: absolute;
  bottom: 50px;
  right: 20px;

  font-family: "Noto Serif KR", serif, "Times New Roman", Times, serif;
}




.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
