/****************************/
/****** the framework ******/
/****************************/
.body {
    width: 1280px;
    margin: 0 auto;
}
.sectionWrap {
    margin: 60px 0 60px;

    display: flex;
    flex-direction: column;
}
.contentBox {
    background-color: white;
    color: #32271e;

    padding: 10px 30px 30px 30px;
    border: 1px solid;
    border-radius: 30px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profileWrap {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userProfile {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pastWrap {
    width: 100%;
    height: fit-content;
}
.currWrap {
    width: 100%;
    height: fit-content;
}
.currBox {
    display: flex;
    /*flex-direction: column;*/
    /*gap: 30px;*/
    gap: 10px;
}
.currBoxLeft {
    width: calc((100% - 10px)/2);

    display: flex;
    flex-direction: column;
    gap: 30px;
}
.currBoxRight {
    border: 1px solid green;
    width: calc((100% - 10px)/2);
}
/****************************/
/****** the components ******/
/****************************/
.top {
    margin: 60px 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom {
    display: flex;
    justify-content: center;
    gap: 2.5vw;
}
.left {
    /*width: 300px;*/
    width: calc(100% - 500px);
    display: flex;
    justify-content: flex-end;
}
.right {
    width: 500px;

    display: flex;
    flex-direction: column;
    gap: 2.5vw;
}
.conBoxBar {
    width: 100%;
    color: #32271e;

    padding: 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.formField {
    position: relative;
}
.formField input {
    width: 100%;
    height: 40px;

    color: #32271e;
    font-size: 1rem;

    padding: 20px 10px 5px;
    border: 1px solid #b2a69b;
    border-radius: 10px;
    box-sizing: border-box;

    outline: none;
    /*pointer-events: none;*/
    /*user-select: none;*/

    display: flex;
    align-items: center;
}
.formField input:disabled {
    background-color: rgb(178 166 155 / 10%);
    color: #b2a69b;
    cursor: not-allowed;
}
.formField > label {
    color: #b2a69b;
    font-size: 1rem;

    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);

    /*pointer-events: none;*/
    transition: all 0.2s ease;

    display: block;
}
.genre {
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* genreBar */
.genreBar {
    white-space: nowrap;

    display: flex;
    align-items: center;
}
.genreBox {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/* past reservation box */
.pastBox {
    height: 150px;

    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid;
    /* border-top: none; */
    box-sizing: border-box;

    position: relative;

    display: flex;
    align-items: center;

}
.pastBoxLeft {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pastBoxRight {
    width: 40%;
    height: 100%;
}
/****************************/
/****** the details ******/
/****************************/
/* top */
.top > .barTitle {
    font-size: 1.5rem;
}
.barTitle {
    font-family: "Noto Serif KR", serif;
    font-weight: 500;
    font-size: 1.25rem;
    white-space: nowrap;

    margin: 0 10px;
}
.horLine {
    width: 100%;
    height: 1px;
    background-color: #ebdfce;
}
/* contentBox */
.contentBox .horLine {
    background-color: #32271e;
}
/* formField */
.formField input:focus {
    border: 1px solid #32271e;
}
.formField input:focus + label,
.formField input:not(:placeholder-shown) + label {
    color: #b2a69b;
    font-size: 0.625rem;
    top: 11px;
    left: 10px;
}
/* genreBar */
.genreTitle {
    margin: 10px 10px 10px 0;
}
/* checkbox */
input[type="checkbox"] {
    display: none;
}
/* genreBox */
.genreBox > div {
    display: contents;
}
.genreBox label {
    width: calc((100% - 20px)/3);
    height: 40px;

    font-size: 1rem;
    line-height: 40px;
    text-align: center;

    border: 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
}
.genreBox label:hover {
    background-color: #32271e;
    color: white;
    border-color: #32271e;
}
input[type="checkbox"]:checked + label {
    background-color: #32271e;
    color: white;
    border-color: #32271e;
}
/*input[type="checkbox"]:disabled + label:hover {*/
/*    background-color: inherit;*/
/*    color: inherit;*/
/*    border-color: inherit;*/
/*    cursor: not-allowed;*/
/*}*/
/*input[type="checkbox"]:disabled + label {*/
/*    opacity: 0.5;*/
/*    cursor: not-allowed;*/
/*}*/
/* edit profile button */
.bigBtn {
    width: 100%;
    height: 40px;

    background-color: #b2a69b;
    color: white;
    font-family: "Noto Serif KR", serif;
    font-weight: 500;
    font-size: 1rem;

    margin-top: 20px;

    border: none;
    border-radius: 10px;
}
.cancelResBtn {
    background-color: transparent;
    color: #b2a69b;

    margin-top: 0;
    border: 1px solid;
}
.cancelBtn {
    width: fit-content;
    height: 20px;

    background-color: transparent;
    color: #b2a69b;
    font-family: "Noto Serif KR", serif;
    font-weight: 500;
    font-size: 0.875rem;

    margin: 0;
    padding: 0;
    border: none;
}

.bigBtn:hover {
    background-color: #32271e;
    cursor: pointer;
}
.cancelResBtn:hover {
    background-color: #b2a69b;
    color: white;
}
.cancelBtn:hover {
    color: #32271e;
}
.pastNum {
    background-color: white;
    white-space: nowrap;

    padding: 0 10px;
    box-sizing: border-box;

    position: absolute;
    top: 0;
    left: 30px;
    transform: translateY(-50%);
}
/* margin */
.marBotDel {
    margin-bottom: 0;
}
.pastImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.currBoxTop {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.currBoxBot {
    display: flex;
    flex-direction: column;
    gap: 10px;
}