*{       
    box-sizing: border-box; 
}

/* 검색바 스타일 */
.search_container {
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 110px;
    margin-top: 200px;
}

.search_bar {
    display: flex;
    align-items: center;
    background-color: #2a2a2a;
    border-radius: 10px;
    overflow: hidden;
    height: 40px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.search_bar input {
    flex: 1;
    background-color: transparent;
    border: none;
    color: white;
    padding: 0 15px;
    font-size: 16px;
    height: 100%;
}

.search_bar input::placeholder {
    color: #888;
}

.search_bar input:focus {
    outline: none;
}

.search_button {
    background-color: #473d35;
    border: none;
    color: white;
    height: 100%;
    width: 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.search_button:hover {
    background-color: #2a2a2a;
}

/* 넷플릭스 앱 스타일 */
.netflix_app {       
    background-color: #32271e;
    min-height: 100vh;
    padding: 0 2.5vw 60px 2.5vw;
}   

.content {       
    padding: 10px 0; 
}   

.ctWrap{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Noto Serif KR', serif;
}

.leftTitleLine{
    width: 50px;
    height: 1px;
    background-color: #b2a69b;
}
.rightTitleLine{
    width: calc(100% - 130px);
    height: 1px;
    background-color: #b2a69b;
}

.category {
    margin-top: 30px;
    margin-bottom: 25px; 
}   

.category_title {
    margin-bottom: 20px;
    color: #fff;
}   

.movie_slider {     
    width: 100%;
    cursor: pointer;
}   

.movie_card {     
    border-radius: 5px;     
    overflow: hidden;     
    width: 100%;       
    height: 0;       
    padding-bottom: 150%;     
    position: relative;     
    transition: transform 0.3s ease; 
}   

.movie_card:hover {     
    transform: scale(1.05);     
    z-index: 1; 
}   

.movie_poster {     
    position: absolute;     
    top: 0;     
    left: 0;       
    width: 100%;       
    height: 100%;     
    background-size: cover;
    background-position: center;       
    background-repeat: no-repeat;     
    background-color: hotpink;
}   

.movie_overlay {       
    position: absolute;     
    bottom: 0;       
    left: 0;       
    width: 100%;       
    /* background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));      */
    padding: 10px;       
    opacity: 0;     
    transition: opacity 0.3s ease;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}   

.movie_card:hover .movie_overlay {       
    opacity: 1; 
}   

.movie_overlay .h3 {
    margin: 0;       
    font-size: 14px;       
    font-weight: normal; 
}   

.bottom_nav {     
    position: fixed;       
    bottom: 0;       
    left: 0;       
    width: 100%;       
    background-color: #121212;       
    display: flex;       
    justify-content: space-around;       
    padding: 10px 0;       
    z-index: 10000; 
}   

.nav_item {     
    display: flex;       
    flex-direction: column;     
    align-items: center;       
    color: #777;       
    font-size: 10px; 
}   

.nav_item svg {     
    font-size: 18px;       
    margin-bottom: 5px; 
}   

.nav_item.active {       
    color: #fff; 
}   

:global(.swiper-button-next),
:global(.swiper-button-prev) {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 100%;
    top: 0;
    margin-top: 0;
    border-radius: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

:global(.swiper-button-next) {
    right: 0 !important;
}

:global(.swiper-button-prev) {
    left: 0 !important;
}

:global(.swiper-button-next)::after,
:global(.swiper-button-prev)::after {
    font-size: 20px !important;
}


.movie_slider:hover :global(.swiper-button-next),
.movie_slider:hover :global(.swiper-button-prev) {
    opacity: 1;
}

.seeMoreWrap{
    text-align: center;
    transform: translateY(30px);
    color: #fff;
}

.seeMoreWrap span{
    display: inline-block;
    width: 160px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #b2a69b;
    cursor: pointer;
    line-height: 40px;
}

