.timeContainer {
    width: 100%;
}

.timeTextRow {
    display: flex;
    margin-bottom: 5px;
}

.timeLabel {
    width: 45px;
    font-size: 0.875rem;
    text-align: center;
}
.timeBox {
    display: flex;
}

.clickBox {
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    background: #b2a69b;
    cursor: pointer;
}
.timeSelectBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}