.timeTextRow {
    display: flex;
    margin-bottom: 5px;
}

.timeLabel {
    width: 45px;
    font-size: 0.875rem;
    text-align: center;
}
.timeBox {display: flex;}

.clickBox {
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    background: #b2a69b;
    cursor: pointer;
}
.clickBox.selected {background: #32271e;}
.clickBox:hover {background: #726254;}
.clickBox.unavailable {
    background: #d9d9d9;
    cursor: not-allowed;
}
.clickBox.unavailable:hover {background: #d9d9d9;}

.timeSelectBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selectable {
    width: 20px;
    height: 20px;
    background: #b2a69b;
}
.end {
    width: 20px;
    height: 20px;
    background: #d9d9d9;
}
.sBox{
    display: flex;
    gap: 5px;
    align-items: center;
}
.selectableBox {
    width: 100%;
    display: flex;
    margin: 10px 0 0 142px;
    gap: 20px;
}
.selectableBox {
    position: relative;
}
.error {
    width: 220px;
    height: 30px;
    color: darkred;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.booked {
    background-color: #D9D9D9;
    cursor: not-allowed;
}