@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
* {
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: #32271e;
  color: #b2a69b;
}



/*==============================================================================*/
.bBg{ background-color: #32271e }

.bPri{ color: #b2a69b; }

.bSec{ color: #32271e}

.bMain{ color: #b2a69b;}

.bMainLight{ opacity: 0.6 }

.bSub{ color: #726254; }

.bTitle{ color: #ebdfce; }

/*==============================================================================*/
.wBg{ background-color: white; }

.wPri{ color: #32271e }

.wSec{ color: #b2a69b; }

.wMain{ color: #32271e }

.wMainLight{ opacity: 0.6 }

.wSub{ color: #b2a69b; }

.wTitle{ color: #32271e }
/*==============================================================================*/

h1{ font-size: 1.875rem;}

h2{ font-size: 1.5rem;}

.subtitle{ font-size: 1.25rem;}

.btn1{ font-size: 1rem; }

.btn2{ font-size: 0.875rem; }

.btn3{ font-size: 0.75rem }

.body1{ font-size: 1rem; }

.body2{ font-size: 0.875rem; }

