.wrap{
    width: 100%;
    padding: 60px 2.5vw 0;
}

.header{
    margin-top: 60px;
    font-family: 'Noto Serif KR', sans-serif;
}

.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.article.active{
    margin-top: 30px;
    opacity: 1;
}

.article{
    height: 400px;
    background-color: #ebdfce;
    border-radius: 30px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title title"
    "resNum roomNum"
    "runTime peopleNum ";
    opacity: 0;
    transition: 1s;
    cursor: pointer;
    font-family: 'Pretendard-Regular', sans-serif;
}

.title {
    grid-area: title;
    text-align: center;
    color: #32271e;

    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 20px;
    font-size: 2rem;
    border-bottom: 1px solid rgba(178, 166, 155, 0.3);
}

.resNum {
    grid-area: resNum;
    text-align: center;
    color: #32271e;
    border: 1px solid rgba(178, 166, 155, 0.3);
    font-family: 'Noto Serif KR', sans-serif;
}
.roomNum {
    grid-area: roomNum;
    text-align: center;
    color: #32271e;
    border: 1px solid rgba(178, 166, 155, 0.3);
    font-family: 'Noto Serif KR', sans-serif;
}

.runTime {
    grid-area: runTime;
    text-align: center;
    color: #32271e;
    border-top: 1px solid rgba(178, 166, 155, 0.3);
    border-right: 1px solid rgba(178, 166, 155, 0.3);
    font-family: 'Noto Serif KR', sans-serif;
}

.peopleNum {
    grid-area: peopleNum;
    text-align: center;
    color: #32271e;
    border-top: 1px solid rgba(178, 166, 155, 0.3);
    border-left: 1px solid rgba(173, 166, 153, 0.3);
    font-family: 'Noto Serif KR', sans-serif;
}
.statusString{
    font-family: 'Pretendard-Regular', sans-serif;
}
@media screen and (max-width: 430px) {
    .gridContainer{
        grid-template-columns:1fr;
        grid-column-gap: 10px;
        color: rgba(140, 130, 120, 0.3);
    }

}