.wrap{
    width: 1280px;
    margin: 60px auto 0;
}

.section_header{
    color: white;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.section_header div{
    display: inline-block;
    height: 1px;
    width: 540px;
    background-color: #fff;
}

.h2{
    text-align: center;
    padding: 0;
    margin: 0;
    display: inline-block;
    font-family: 'Noto Serif KR', serif;
    font-weight: normal;
    flex-shrink: 0;
}


.nav{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
    max-width: 900px;
    margin: 0 auto;
}

.simpleCard {
    width: 800px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    margin: 0 auto;
}


.simpleCard:hover {
    transform: scale(1.03);
}

.simpleCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.simpleOverlay {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    /*transform: translateY(100%);*/
    background: linear-gradient(transparent, rgba(0,0,0,0.7));
    padding: 30px 20px 15px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.simpleCard:hover .simpleOverlay {
    opacity: 1;
}

.theaterName {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    font-family: 'Noto Serif KR', serif;
}

@media screen and (max-width: 430px) {
    .wrap{
        width: 100%;
        padding: 0 10px;
    }
    .section_header{
        margin-bottom: 70px;
    }
}

/*.swiper,*/
/*.swiper-wrapper,*/
/*.swiper-slide,*/
/*.swiper-cards,*/
/*.swiper-3d,*/
/*.swiper-initialized,*/
/*.swiper-horizontal ,*/
/*.swiper-watch-progress,*/
/*.swiper-slide-visible,*/
/*.swiper-slide-fully-visible,*/
/*.swiper-slide-active{*/
/*    width: 0px !important;*/
/*}*/

/*#swiper-wrapper{*/
/*    width: 0px !important;*/
/*}*/
.swiper {
    max-height: 100vh;
    overflow-y: hidden;
}

.simpleCard {
    max-height: 500px;
}